/*This is css reset code*/
*{
	margin:0;
	padding:0;
}

body {
	font-family: 'Arial', sans-serif;
	background: #e9f0f5;
}

p{
	margin: 10px 0;
}

/*We want to set a fixed width for the container when the window size is 940px or more because we 
don't want the text to stretch out all the way to the right side of the screen.*/
.container{
	width: 940px;
	overflow: auto;/*If content overflows out of this div, only then scrollbars will be displayed.*/
	margin: auto;/*Has the effect of positioning the div in the center of the screen. hint: draw borders*/
}

header{
	background: #5e6482;
	height: 70px;
	color: #fff;
	text-align: center;
	padding-top: 20px;
}

#timeline{
	background: url(../img/line.png) repeat-y 50% 0;
	min-height: 700px;
	margin: 20px;/*top, bottom = 20px, left, right = 0. Keeps gap between it & header & footer*/
}

.tl-block{
	position: relative;
	width: 100%;
	min-height: 100px;
	margin-bottom: 20px;
}

.tl-year{
	background: url(../img/point-big.png) no-repeat 50% 0;
	display: block;
	width: 70px;
	height: 70px;
	text-align: center;
	margin: auto;
	margin-top: 20px;/*Creates gap between #timeline and #tl-year. This shows more of line.*/
}

.tl-year div{
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	display: block;
	padding-top: 23px;
	text-center: center;
}

footer{
	background: #5e6482;
	height: 30px;
	color: #fff;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

