body{
	font-family: 'Lato', sans-serif;/*google font imported in html file.*/
	font-size: 15px;
	line-height: 1.5em;
}

#container {
	width: 70%;
	margin: 10px auto;
	background: #fff;/*hex code for white*/
	overflow: auto;
}

p {
	margin 10px 0;
	line-height: 1.5em;
}

h1 {
	font-size: 39px;
	font-weight: bold;
	margin: 20px 0 10px 0;
	line-height: 1.2em;
}

h3 {
	font-size: 22px;
	margin:10px 0;
}

h4 {
	font-size: 19px;
	margin:10px 0;
}

/*We need to define the style for strong tag because reset.css file rests its default style.*/
strong {
	font-weight:bold;
}

/*
An element whose clear property is set to both will start below all left-floated & right floated (hence "both") boxes in the same block formatting context (i.e same parent or containing element).
.clearfix {
	clear: both; 
}
*/

