body{
	font-family: 'Arial', Helvetica, sans-serif;
	background: #f4f4f4;
}

#menu, #menu ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#menu{
	width: 90%;
	margin: 60px auto;
	border: 1px solid #107677;
	background: #111;/*For older browsers which cannot support border gradients.*/
	background: linear-gradient(#1ebdbe, #107677);
	border-radius: 6px;
	box-shadow: 0 2px 2px #ccc;
}

/*Floating all LI left to make them appear side by side in the navigation 
menu. We could try to see if  display:inline works as well. later...*/
#menu li{
	float: left;
	background: url(../img/sep.png) no-repeat;
	position: relative;
}

/* The above code causes a PROBLEM. The menu background will be collapsed to a thin line &
we won't see any of the list items in the menu.
*/

/* Why does the problem occur ? 
Detailed answer in notes folder or link-http://complexspiral.com/publications/containing-floats/

Short answer -
Floated elements stack horizontally like inline elements and UNlike block elements which stack vertically. 
Also, floated elements (eg. our list items) stick out of their containing element (eg. our menu).This is 
desired and is NOT a bug in CSS.
*/

/* How to fix the problem ?
Use the micro clearfix hack/css code by Nicolas Gallagher given below.
*/

/* How does the above hack work ?
When we put floated elements in an element, the bottom of the containing element will end at the end
of the float. To make it go beyond the float, we must do two things:

Step 1- Put a BLOCK level element after the floated elements
Step 2- Ensure that the block level element appears after all floated elements.

The before & after pseudo elements let you put content before & after the existing contents (eg. 
list items in menu) of an element (e.g our menu). When we set the clear property of an element
(eg. :after of menu), then the element will start only after BOTH left & right floated elements
(eg. list items in menu).

*/

/*Step 1*/
#menu:before, #menu:after{
	content:""; /*blank content*/
	display: block; /**/
	/*I doubt if the menu:before element was needed. I saw no changes after removing it. 
	Might be needed later. Let's see.*/
}

/*Step 2*/
#menu:after{
	clear: both;
}
